@import "./Breakpoints.scss";

.aboutMeSection {
  padding: 20px 2%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: start;
  background-color: $bg;
  flex-direction: column;

  h2 {
    line-height: 150%;
  }

  @include breakpoint-mixin("Laptop") {
    padding: 20px 1%;
    text-align: justify;
  }
}
