@import "./Breakpoints.scss";

.About3 {
  display: none;

  @include breakpoint-mixin("Laptop") {
    width: 12%;
    display: flex;
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    height: 250px;

    @include breakpoint-mixin("Laptop") {
      height: 150px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .titleContainer {
    margin-bottom: 15px;
    h3 {
      margin-bottom: 5px;
    }
  }

  .followContainer {
    width: 100%;
    height: 25px;
    background-color: #262626;
    border-radius: 4px;
    border: 0.25px solid rgba(128, 128, 128, 0.554);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
  }

  .descriptionContainer {
    width: 100%;
    h3 {
      margin-bottom: 20px;
    }
  }

  .technogrophyCard {
    width: 100%;
    background-color: #28282b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    padding: 40px 5px;
    direction: rtl;
    background-image: url("/matte.jpg");
    //Fit background image to container
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;
    row-gap: 30px;

    .projectTitle {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      writing-mode: vertical-lr;
      height: fit-content;
      overflow: auto;
      cursor: pointer;

      &:hover {
        color: #ed944d;
      }
    }

    .active {
      color: #ed944d;
    }
  }
}
