@import "./Breakpoints.scss";

.page {
  overflow-y: scroll;
  height: 100dvh;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 50px;
}

.page::-webkit-scrollbar {
  height: 100%;
  background-color: rgb(45, 41, 41);
  width: 10px;
}

.page::-webkit-scrollbar-thumb {
  background-color: rgba(70, 68, 68, 0.428);
  border: 1px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
  height: 40px;
}
