$breakpoints: (
  "Mobile_S": 320px,
  "Mobile_M": 390px,
  "Mobile_L": 425px,
  "Tablet": 768px,
  "Laptop": 1024px,
  "Laptop_L": 1366px,
  "Desktop": 1800px,
  "Desktop_L": 2560px,
  "Vertical_Display": 1080px,
);

//Dark Theme
$mainColor: #b1825b;

@mixin breakpoint-mixin($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin portrait-min-width-mixin($breakpoint) {
  $minWidth: map-get($breakpoints, $breakpoint);
  @media screen and (min-width: $minWidth) and (orientation: portrait) {
    @content;
  }
}
