@import "./Breakpoints.scss";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Barlow:wght@300&display=swap");

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0px;
  position: relative; // set the position to relative to allow for scrolling
  font-family: "SecondaryFont";
  font-family: "Barlow", sans-serif;
  // font-family: "Barlow Semi Condensed", sans-serif;

  background-color: black;
  color: rgb(207, 206, 206);
  overflow-x: hidden; // prevent horizontal scrolling
  background-image: url("/background.jpg");
  backdrop-filter: brightness(0.3);
  // filter: grayscale(100%);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0px;
    padding: 0px;
  }
}
