@import "./Breakpoints.scss";

body {
  margin: 0;
  padding: 0px;
  position: relative; // set the position to relative to allow for scrolling
  font-family: "primaryFont";
  background-color: black;
  color: rgb(207, 206, 206);
  overflow-x: hidden; // prevent horizontal scrolling
  background-image: url("/background.jpg");
  // filter: grayscale(100%);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0px;
    padding: 0px;
  }
}

@font-face {
  font-family: "PrimaryFont";
  src: url("../../public/Resources/Inconsolata.otf") format("opentype");
}
@font-face {
  font-family: "SecondaryFont";
  src: url("../../public/Resources/SpaceMono-Regular.ttf") format("truetype");
}
