@import "./Breakpoints.scss";

.profileSection {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  position: relative;
  mix-blend-mode: difference;

  #profileSection__name {
    font-family: "primaryFont";
    position: absolute;
    margin-top: 0px;
    top: 10px;
    left: 1%;
    cursor: pointer;
  }

  #profileSection__desc {
    margin-left: 1%;
    width: 80%;
    line-height: 110%;

    @include breakpoint-mixin("laptop-small") {
      width: 50%;
    }

    @include breakpoint-mixin("desktop") {
      width: 40%;
    }
  }
}
