@import "./Breakpoints.scss";

.projectsSection {
  padding: 100px 1% 50px 1%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: palegreen;

  .header {
    // mix-blend-mode: difference;
    // background-color: red;
    background-color: $bg;
  }

  .postItem {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;

    @include breakpoint-mixin("laptop-small") {
      padding: 10px 0px;
    }

    .projectTitle {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      mix-blend-mode: difference;
      z-index: 100;

      #arrow {
        font-size: 60px;
        background-color: red;
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        h1 {
          border-bottom: 5px solid white;
        }
      }
    }

    .projectDescription {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      background-color: $bg;
      padding: 20px;
      cursor: auto;

      p {
        margin-top: 20px;
        display: flex;
        align-items: center;

        #githubIcon {
          margin-right: 10px;
        }
      }

      #githubLink {
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
