@import "./Breakpoints.scss";

.Technogrophy2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint-mixin("Laptop") {
    width: 40%;
  }

  .Technogrophy2__project__image {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
      height: 400px;
      border-top: 0.25px solid rgba(128, 128, 128, 0.554);
      border-bottom: 0.25px solid rgba(128, 128, 128, 0.554);
      cursor: pointer;

      @include breakpoint-mixin("Laptop") {
        border: 0.25px solid rgba(128, 128, 128, 0.554);
        height: 350px;
        // object-position: left center;
      }

      @include breakpoint-mixin("Desktop") {
        height: 500px;
      }
    }

    .Technogrophy2__project__metashare {
      height: 5dvh;
      width: 90%;
      display: flex;
      margin: 0px auto;

      @include breakpoint-mixin("Laptop") {
        width: 100%;
      }

      span {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        cursor: pointer;

        p {
          margin-top: 5px;
        }

        #emptyThumb {
          display: block;
        }
        #fillThumb {
          display: none;
        }

        &:hover {
          #emptyThumb {
            display: none;
          }
          #fillThumb {
            display: block;
          }
        }
      }
    }
  }

  .Technogrophy2__project__metadata {
    width: 90%;
    margin: 20px auto 0px auto;

    @include breakpoint-mixin("Laptop") {
      width: 100%;
    }

    span {
      display: flex;
      margin-bottom: 15px;
      align-items: center;

      a {
        text-decoration: none;
        color: $mainColor;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  .icons {
    font-size: 20px;
    margin-right: 5px;
  }
}
